@{
    ViewData["Title"] = "Plano de Contas";
}

<h1>@ViewData["Title"]</h1>

<div>
  <button type="button" class="btn btn-primary">Criar item de Plano de Conta</button>

  <table class="table table-white table-striped">
    <thead>
      <tr>
        <th col">Id</th>
        <th col">Descrição</th>
        <th col">Tipo</th>
        <th col">#</th>
        <th col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Combustivel</td>
        <td>C</td>
        <td>
          <button type="button" class="btn btn-outline-danger">Editar</button>
        </td>
        <td>
          <button type="button" class="btn btn-outline-warning">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>